<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link href="profile.css" rel="stylesheet">
        <style>
            @import url('https://fonts.googleapis.com/css2family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100&display=swap');
        </style>
        <body>
            <div class="main-box">
                <div class="profile-box">
                    <div class="profile-picture">
                        <img src="profile.jpg" style="width:100px;">
                    </div>
                    <div id="my-info">
                        <div>이름 : {{name}}</div>
                        <div>반 : {{class}}</div>
                        <br>
                    </div>
                    <div id="sns">
                        <a href="http://www.instgram.com"><img src="instagram-logo.png" alt="" class="insta"></a>
                        <a href="http://www.github.com"><img src="github-logo.png" alt="" class="github"></a>
                        <a href="http://www.gmail.com"><img src="mail-logo.png" alt="" class="mail"></a>
                    </div>
                    <div style="font-weight: 900;" id="introduce">한줄 소개</div>
                    <div id="introduce1">대학교 재학중, 군대 전역 후 취업을 하기 위해 공부중입니다.</div>
                </div>
            </div>
        </body>    
    </head>
</html>