:root {
    --text-color: #f0f4f5;
    --background-color: #000a12;
    --accent-color: #ffa726;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}
a img{
    width: 24px;
    height: 24px;
    padding-bottom: 2px;
}




.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 8px 12px;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar__logo {
    font-size: 24px;
    color: var(--text-color);
}



.navbar__menu {
    padding-top: 20px;
    display: flex;
    list-style: none;
    padding-left: 0;

}

.navbar__menu li {
    padding-top: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar__menu li:hover {
    background-color: var(--accent-color);
    border-radius: 4px;
    display: inline-block;
}
.dropdown-content{
    display: none;
    list-style-type: none;
    vertical-align: middle;
}
.dropdown-menu:hover:not(.home){
    background-color: darkorange;
    color: white;
}
.navbar__menu:hover .dropdown-content{
    width: 100%;
    display: block;
}

.navbar__sns {
    list-style: none;
    display: flex;
    padding-left: 0;
    padding-top: 20px;
}

.navbar__sns li {
    padding: 8px 12px;
}

.navbar__toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--accent-color) !important;
}


#outerSection{
    text-align: center;
}
section{
    width: 90vw;
    height: 1800px;
    display: inline-block;
    /* background-color: blue; */
    
}
footer{
    height: 400px;
    /* background-color: blue; */
}
colgroup {
    display: table-column-group;
}

.dropdown:hover .dropdown-content{
    width: 100%;
    display: block;
}
.dropdown-content a:hover{ background-color: #f1f1f1;}


.table {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.table td a{
    color: black;
}
#tbody{
    font-size: 10px;
}
#undernav{
    float: left;
    overflow: hidden;
    justify-content: center;
    border-bottom:1px solid #ccc ;
}