<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="nav.css" ></link>
</head>
<body>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="폰트어썸 본인 CDN"
    crossorigin="anonymous">
    <nav style="text-align : center; justify-content: center; background-color: rgba(44, 42, 39, 0.983);">
        
        <div class = "columm" style="margin: auto;">
        <ul id = "ultag">
            <li class="dropdown">
                <div class="dropdown-menu">Fukuoka</div>
                <div class="dropdown-content">
                    <a href="#">날씨</a>
                    <a href="#">연혁</a>
                    <a href="#">관광지</a>
                    <a href="#">지도</a>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-menu">Bulletin Board</div>
                <div class="dropdown-content">
                    <a href="#">YungStagram</a>
                    <a href="#">공지</a>
                    <a href="/Community">커뮤니티</a>
                    <a href="#"></a>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-menu">Schedule</div>
                <div class="dropdown-content">
                    <a href="/schedule">스케줄러</a>
                    <a href="#">학교 일정</a>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
            </li>
            <li class="dropdown">
                <div class="dropdown-menu">Groups</div>
                <div class="dropdown-content">
                    <a href="#">그룹톡</a>
                    <a href="#"></a>
                    <a href="#">개인톡</a>
                    <a href="#"></a>
                </div>
            </li>
            <li class="home"><a href="/login">Log In</a></li>
        </ul>
    </div>
    
    </nav>
    <section>
        <div id='img'></div>
    </section>
    <script>
        const toggleBtn = document.querySelector('.fa-bars');
        // const menu = document.querySelector('.navbar__menu');
        

        toggleBtn.addEventListener('click', () => {
            menu.classList.toggle('active');
            // sns.classList.toggle('active');
        });
        // toggleBtn.addEventListener('mouseover', () => {
        //     toggleBtn.style.backgroundColor = 'blue';
        // })
        // toggleBtn.addEventListener('hover', () => {
        //     toggleBtn.style.backgroundColor = 'blue';
        // })
    </script>
</body>
</html>