<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sex</title>
    <link rel="stylesheet"  href="nav.css" ></link>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="폰트어썸 본인 CDN"
    crossorigin="anonymous">
    {% include "../nav.html" %}

        </ul>
    </div>
    </nav>
    <section>
        <div id='img'></div>
    </section>
</body>

</html>
