<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    sex
    <script>
        async function hello() {
            const isLogined = await axios.post('/').then((res) => res.data)
            console.log("로그인 한 정보 :", isLogined)
            return isLogined;
        }
        hello()
    </script>
</body>

</html>