<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="newsc.css">
</head>

<body>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
    <div class="sec_cal">
        <div id="all_cal">
            <div class="cal_nav">
                <a href="javascript:;" class="nav-btn go-prev">prev</a>
                <div class="year-month"></div>
                <a href="javascript:;" class="nav-btn go-next">next</a>
            </div>
            <div class="cal_wrap">
                <div class="days">
                    <div class="day">MON</div>
                    <div class="day">TUE</div>
                    <div class="day">WED</div>
                    <div class="day">THU</div>
                    <div class="day">FRI</div>
                    <div class="day">SAT</div>
                    <div class="day">SUN</div>
                </div>
                <div class="dates"></div>
            </div>
        
    </div>
    <div>
        <div id = "formtag">
            <form>
                
                <table id="time" style="position: relative;">
                    <td>시간</td>
                    <div id ="timeDiv">
                    <td>무엇을 하실건가요?<br /></td>
                    <tr>
                        <td>07:00</td>
                        <td><input name="firstname" type="text" /><br /></td>
                    </tr>
                    <tr>
                        <td>08:00</td>
                        <td><input name="firstname" type="text" /><br /></td>
                    </tr>
                    <tr>
                        <td>09:00</td>
                        <td><input name="firstname" type="text" /><br /></td>
                    </tr>
                    <tr>
                        <td>10:00</td>
                        <td><input name="firstname" type="text" /><br /></td>
                    </tr>
                    <tr>
                        <td>11:00</td>
                        <td><input name="firstname" type="text" /><br /></td>
                    </tr>
                    <tr>
                        <td>12:00</td>
                        <td><input name="firstname" type="text" /><br /></td>
                    </tr>
                    <tr>
                        <td>13:00</td>
                        <td><input name="firstname" type="text" /><br /></td>
                    </tr>
                    <tr>
                        <td>14:00</td>
                        <td><input name="firstname" type="text" /><br /></td>
                    </tr>
                    <td>15:00</td>
                    <td><input name="firstname" type="text" /><br /></td>
                    </tr>
                    <td>16:00</td>
                    <td><input name="firstname" type="text" /><br /></td>
                    </tr>
                    <td>17:00</td>
                    <td><input name="firstname" type="text" /><br /></td>
                    </tr>
                    <td>18:00</td>
                    <td><input name="firstname" type="text" /><br /></td>
                    </tr>
                    <td>19:00</td>
                    <td><input name="firstname" type="text" /><br /></td>
                    </tr>
                    <td>20:00</td>
                    <td><input name="firstname" type="text" /><br /></td>
                    </tr>
                    <td>21:00</td>
                    <td><input name="firstname" type="text" /><br /></td>
                    </tr>
                    <td>22:00</td>
                    <td><input name="firstname" type="text" /><br /></td>
                    </tr>
            
                </div>
                </table>
            </form>
        </div>
    </div>
</div>
    
</body>
<script src="schedule.js"></script>

</html>