<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notice</title>
    <link rel="stylesheet" href="notice.css" />
    <link rel="stylesheet" href="bootstrap.css" />
  </head>
  <body>
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap"
      rel="stylesheet"
    />
    {% include "../nav.html" %}
    <h1 style="text-align: center">공지사항</h1>
    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" style="width: 10vw">번호</th>
            <th scope="col" style="width: 40vw">제목</th>
            <th scope="col" style="width: 15vw">글쓴이</th>
            <th scope="col" style="width: 15vw">작성일</th>
          </tr>
        </thead>
        <body>
          <tr>
            <th scope="row">1</th>
            <td style="width: 40vw; text-align: left">Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td style="width: 40vw; text-align: left">Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td style="width: 40vw; text-align: left">Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td style="width: 40vw; text-align: left">Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td style="width: 40vw; text-align: left">Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td style="width: 40vw; text-align: left">Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td style="width: 40vw; text-align: left">Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td style="width: 40vw; text-align: left">Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td style="width: 40vw; text-align: left">Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td style="width: 40vw; text-align: left">Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td style="width: 40vw; text-align: left">Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td style="width: 40vw; text-align: left">Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td style="width: 40vw; text-align: left">Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <a class="btn btn-default pull-right" href="/gongji/writePage"
            >글쓰기</a
          >
        </body>
      </table>
      <div class="text-center">
        <ul class="pagination">
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
