<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style></style>

<body>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>로그인</title>
        <link rel="stylesheet" href="login.css">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>

    <body>
        <section id="login-form">
            <h1>Login</h1>
            <form id='login-tag'>
                <div class="int-area">
                    <input type="text" name="id" id="id" autocomplete="off" required>
                    <label for="id">USER NAME</label>
                </div>
                <div class="int-area">
                    <input type="password" name="pw" id="pw" autocomplete="off" required>
                    <label for="pw">PASSWORD</label>
                </div>
                <div class="btn-area">
                    <button id="btn" type="submit">LOGIN</button>
                </div>
                <div class="caption">
                    <a href="">Forgot Password?</a>
                    <a href="register">회원가입</a>
                </div>
            </form>
        </section>
        <script src="login.js"></script>
    </body>

    </html>
