:root {
  scroll-behavior: auto;
}

.buttons {
  background-color: red;
}

.alert-box {
  background-color: skyblue;
  padding: 20px;
  color: white;
  border-radius: 5px;
  display: none;
  /* display: block; */
}

.list-group {
  display: none;
}

.show {
  display: block;
}

.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  /* display: none; */
  visibility: hidden; /*(ì• ë‹ˆë©”ì´ì…˜í• ë•Œ display: none; ëŒ€ì‹  ì‚¬ìš©)*/
  opacity: 0;
  transition: all 1s;
}

.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
}

.show-modal {
  /* display: block; */
  visibility: visible;
  opacity: 1;
}

.main-bg {
  padding: 100px 20px;
  background: lightgrey;
}

.slide-container {
  width: 300vw;
  /* transform: translateX(-100vw); */
  transition: all 1s;
}

.slide-box {
  width: 100vw;
  float: left;
}

.slide-box img {
  width: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.navbar-brand {
  font-size: 30px;
  transition: all 1s;
}
