<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "../nav.html" %}
    <input type="hidden" value="{{user.id}}" class="user-id" />
    <input type="hidden" value="{{board.post_id}}" class="post-id" />
    <input type="hidden" value="{{board.boarder}}" class="id" />
    <table class="table table-hover" style="margin-top: 10vw; width: 80vw">
    <tr>
      <td>{{board.title}}</td>
      <td>{{board.boarder}}</td>
      <td>{{board.date}}</td>
    </tr>
    </table>
    <div>
        <textarea class="form-control" rows="5" id="content"
        name="inputContent" placeholder="내용 작성">{{board.content}}</textarea>
    </div>
    <div class="buttons">
        <button type="button" onclick="location.href='/Community/{{board.post_id}}/update'" style="cursor: hand"
          class="btn">
          글 수정
        </button>
        <button type="button" style="cursor: hand" class="btn" id="delete">
          글 삭제
        </button>
      </div>
</body>
</html>